{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1 >로그인</h1>
        <form class=form-signin method="POST" action="{% url 'signin'%}">
            {% csrf_token %}
            <br>
            UserEmail :
            <br>
            <input name="username" type="text">
            <br>
            Password :
            <br>
            <input name="password" type="password">
            <br><br>
            <input type="submit" class="btn btn-primary" value="확인">
            <button class="btn btn-primary" type="button" onclick="'#'">회원가입</button>
        </form>
    </div>

{% endblock %}