{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>로그인</h1>
        <form method="POST" action="{% url 'signin'%}">
            {% csrf_token %}
            <br>
            UserEmail :
            <br>
            <input name="email" type="text">
            <br>
            Password :
            <br>
            <input name="password" type="password">
            <br><br>
            <input type="submit" class="btn btn-primary" value="확인">
            <input type="submit" onclick="location.href='{% url 'signup.html' %}'" class="btn btn-secondary" value="회원가입">


        </form>
    </div>

{% endblock %}