{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>회원가입</h1>

        <form method="POST" action="{% url 'signup'%}">
            {% csrf_token %}
            UserName :
            <br>
            <input name="username" type="text">
            <br>
            UserEmail :
            <br>
            <input name="email" type="text">
            <br>
            Password :
            <br>
            <input name="password" type="password">
            <br><br>
            <input type="submit" class="btn btn-secondary" value="회원가입">

        </form>
    </div>

{% endblock %}